<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Express Compliment Generator</title>
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <style>
    body {
      background-color: rgb(<%= bg1 %>, <%= bg2 %>, <%= bg3 %>);
    }

    a {
      text-decoration: none;
    }

    h1 {
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
  </style>


</head>
<body>
  <h1><%= compliment %></h1>
  <a href="<%= link1 %>">I'm still emotionally vacant. Give me another compliment.</a><br>
  <a href="<%= link2 %>">I'm ready to soldier on.</a>
</body>
</html>
