<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Express Compliment Generator</title>
  <link rel="stylesheet" href="">
  <style>
    body {
      background-color: rgb(<%= bg1 %>, <%= bg2 %>, <%= bg3 %>);
      color: white;
      font-family: 'Open Sans', sans-serif;
    }

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 700px;
      align-content: center;
      margin-top: 20%;
    }

    a {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      padding: 10px;
      margin-top: 10px;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <div>
    <h1>Greetings <%= name %>, <%= compliment %></h1>
    <a href="<%= link1 %>">I'm still emotionally vacant. Give me another compliment.</a><br>
    <a href="<%= link2 %>">I'm ready to soldier on.</a>
  </div>
</body>
</html>
